<div class="container">

    <div class="columns is-mobile is-centered">

        <div class="column is-narrow">
            <a class="has-text-dark" href="https://github.com/iusrepo">
                <span class="icon"><i class="fa fa-github fa-fw" aria-hidden="true"></i></span>
                <span>GitHub</span>
            </a>
        </div>

        <div class="column is-narrow">
            <a class="has-text-dark" href="irc://irc.libera.chat:6697/ius">
                <span class="icon"><i class="fa fa-hashtag fa-fw" aria-hidden="true"></i></span>
                <span>IRC</span>
            </a>
        </div>

        <div class="column is-narrow">
            <a class="has-text-dark" href="mailto:dev@ius.io">
                <span class="icon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
                <span>Email</span>
            </a>
        </div>

    </div> <!-- columns -->

    <div class="columns is-mobile is-centered">

        <div class="column is-narrow">
            <a class="has-text-dark" href="https://github.com/iusrepo/iusrepo.github.io">
                <span class="icon"><i class="fa fa-code fa-fw" aria-hidden="true"></i></span>
                <span>Website source</span>
            </a>
        </div>

    </div> <!-- columns -->

</div> <!-- container -->

<style>
    /* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    main {
        flex: 1;
    }
</style>
