<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="theme-color" content="#363636">
<title>{{ page.title }}</title>
<link rel="icon" type="image/png" href="/images/favicon.png">

<!-- https://bulma.io -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8/css/bulma.min.css">

<!-- https://fontawesome.com/v4.7.0/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4/css/font-awesome.min.css">
