<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

    <div class="container">

        <div class="navbar-brand">
            {% if page.permalink != "/" %}
            <a class="navbar-item" href="/">
                <img src="/images/ius_light.svg" width="100">
            </a>
            {% endif %}
            <a role="button" class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div> <!-- navbar-brand -->

        <div class="navbar-menu" id="navbar-menu">

            <div class="navbar-end">
                <a class="navbar-item" href="/about">
                    <span class="icon"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i></span>
                    <span>About</span>
                </a>
                <a class="navbar-item" href="/setup">
                    <span class="icon"><i class="fa fa-cog fa-fw" aria-hidden="true"></i></span>
                    <span>Setup</span>
                </a>
                <a class="navbar-item" href="https://github.com/search?q=org%3Aiusrepo+topic%3Arpm">
                    <span class="icon"><i class="fa fa-cube fa-fw" aria-hidden="true"></i></span>
                    <span>Packages</span>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">More</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/usage">
                            <span class="icon"><i class="fa fa-terminal fa-fw" aria-hidden="true"></i></span>
                            <span>Usage</span>
                        </a>
                        <a class="navbar-item" href="/thanks">
                            <span class="icon"><i class="fa fa-handshake-o fa-fw" aria-hidden="true"></i></span>
                            <span>Thanks</span>
                        </a>
                        <a class="navbar-item" href="/keys">
                            <span class="icon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                            <span>Keys</span>
                        </a>
                    </div>
                </div>
            </div> <!-- navbar-end -->

        </div> <!-- navbar-menu -->

    </div> <!-- container -->

</nav>

<script type="text/javascript">
    // https://bulma.io/documentation/components/navbar/#navbarJsExample
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
