<section class="hero is-dark is-medium">

    <div class="hero-body">

        <div class="container has-text-centered">

            <img class="title is-spaced" src="/images/ius_light.svg" width="400">

            <p class="subtitle is-4 is-italic">
                <strong>I</strong>nline with
                <strong>U</strong>pstream
                <strong>S</strong>table
            </p>

            <div class="buttons is-centered">
                <a class="button is-large is-primary" href="/setup">get started</a>
            </div>

        </div> <!-- container -->

    </div> <!-- hero-body -->

</section>
